.button {
  background-color: #03dfb3;
  color: #000;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #03bf9a;
}

.button.danger {
  background-color: #b80c0c;
}

.button.danger:hover {
  background-color: #770606;
}
