.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px;
  border-bottom: 2px solid #03dfb3;
  margin-bottom: 18px;
}

.header-title {
  font-size: 22px;
}

.header-block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.settings-icon.with-profile {
  fill: #03dfb3;
  cursor: pointer;
}
