.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 12px 18px;
}

.header-title {
  font-size: 22px;
}

.header-block {
  display: flex;
  align-items: center;
  gap: 8px;
}
